.dkblue-background {
    background-color: var(--dkblue);
}
.projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

.projects h2 {
    padding: 0 0 2rem 0;
}

.error {
    text-align: center;
    color: red;
    border: 1px solid red;
    background-color: #ffbaba;
    padding: 1%;
}
