nav {
    font-family: var(--mono);
    font-size: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    /* margin: 0; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

nav [class*='fa-'] {
    color: var(--aqua);
    font-size: 150%;
}

nav [class*='fa-']:hover {
    color: var(--magneta);
}

nav h1 [class*='fa-'] {
    color: var(--aqua);
    font-size: 100%;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}
