footer {
    padding: 4rem 0;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}

.light-font {
    color: var(--maroon);
}
